* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

#main-header {
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main-header .container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: white;
}

#main-header .container .container-inner .fas {
    color: #ecd407;
    font-size: 35px;
}

#main-header .container .container-inner.right {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#main-header .container .container-inner.right .fas {
    margin: 10px;
    transform: scale(-1, 1);
    color: white;
}

#main-header .container .container-inner.right p {
    margin: 0;
}

#main-header .container-form {
    font-weight: bold;
    margin-left: auto;
    width: 40%;
    min-width: 300px;
    color: white;
}

#main-header .container-form span {
    color: #ecd407;
}

#main-header .container-form form {
    padding: 16px;
    background-color: #001d8a;
}

#main-header .container-form form fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

#main-header .container-form form fieldset input,
        #main-header .container-form form fieldset textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
}

#main-header .container-form form fieldset input[type="submit"] {
    background-color: #ecd407;
    border: 0;
    width: auto;
    font-weight: bold;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #292929;
    padding: 20px;
    color: white;
    text-align: center;
}

footer .footer-inner {
    flex-basis: 50%;
}

footer .footer-inner i {
    background-color: #ecd407;
    color: #292929;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

footer p {
    flex-basis: 100%;
}
